<h1>New Slang</h1>

<%= form_for :slang, url: slangs_path do |f| %>
<p>
    <%= f.label :title %><br>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :definition %><br>
	<%= f.text_area :defintion %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>