<div class="container">
<div class="row">
<div class=" col-md-8 col-md-offset-2 jumbotron">

	<h3><%= @slang.word %></h3>
	/<%= @slang.pronunciation %>/<br><br>
	: <%= @slang.definition %><br><br>
	<em><%= @slang.example %></em>
</div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4">
<p class="text-center"><strong>Comments:</strong></p>
<%= render @slang.comments %>

<p class="text-center"><strong>Add a comment</strong></p>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_slang_path(@slang), class: "btn btn-default" %> 
<%= link_to 'Back', slangs_path, class: "btn btn-default" %>
</div>
</div>